* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    outline: none;
}

body{
    min-height: 100vh;
    display: block;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {    
    width: 400px;
    height: min-content;
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
}
.search-box{
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-box input.input-box {
    width: 84%;
    height: min-content;
    text-transform: capitalize;
    color: #000;
    background-color: #e6f5fb;
    padding: 12px 16px;
    border-radius: 14px;
}

.search-box input.input-box::placeholder{
    color: #000;
}

.search-box button{
    width: 46px;
    height: 46px;
    background-color: #e6f5fb;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}
.search-box button:hover{
    color: #fff;
    background-color: #ababab;
}